@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(79, 74, 74);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
}
